body {cursor : url(../cursors/Normal\ Select.cur), auto;}
.alias {cursor: url(.),auto;}
.all-scroll {cursor: url(.),auto;}
.auto {cursor: url(.),auto;}
.cell {cursor: url(.),auto;}
.col-resize {cursor: url(../cursors/Vertical\ Resize.cur),auto;}
.context-menu {cursor: url(.),auto;}
.copy {cursor: url(.),auto;}
.crosshair {cursor: url(../cursors/PrecisionSelect.cur),auto;}
.default {cursor: url(../cursors/Normal\ Select.cur),auto;}
.e-resize {cursor: url(../cursors/Horizontal\ Resize.cur),auto;}
.ew-resize {cursor: url(.),auto;}
.grab {cursor: url(../cursors/wii-grab.cur),auto;}
.grabbing {cursor: url(../cursors/wii-grab-ccw.cur),auto;}
.help {cursor: url(../cursors/Help\ Select.cur),auto;}
.move {cursor: url(../cursors/Move.cur),auto;}
.n-resize {cursor: url(../cursors/Vertical\ Resize.cur),auto;}
.ne-resize {cursor: url(.),auto;}
.nesw-resize {cursor: url(.),auto;}
.ns-resize {cursor: url(.),auto;}
.nw-resize {cursor: url(.),auto;}
.nwse-resize {cursor: url(.),auto;}
.no-drop {cursor: url(../cursors/Unavailable.cur),auto;}
.none {cursor: url(../cursors/Unavailable.cur),auto;}
.not-allowed {cursor: url(../cursors/Unavailable.cur),auto;}
.pointer {cursor: url(../cursors/wii-pointer-reverse.cur),auto;}
.progress {cursor: url(.),auto;}
.row-resize {cursor: url(../cursors/Horizontal\ Resize.cur),auto;}
.s-resize {cursor: url(../cursors/Vertical\ Resize.cur),auto;}
.se-resize {cursor: url(.),auto;}
.sw-resize {cursor: url(.),auto;}
.text {cursor: url(../cursors/Text\ Select.cur),auto;}
.url {cursor: url(../cursors/Link\ Select.cur),auto;}
.w-resize {cursor: url(../cursors/Horizontal\ Resize.cur),auto;}
.wait {cursor: url(../cursors/wii-loading-ring.ani),auto;}
.zoom-in {cursor: url(.),auto;}
.zoom-out {cursor: url(.),auto;}