
body {
    background: var(--color-08);
    color: var(--color-10);
}
.btn {
    text-transform: uppercase;
    border: 2px solid var(--color-11);
    font-size: 0.7em;
    padding: 0.1em 0.4em;
    -webkit-transition: color 0.3s, border-color 0.3s;
    -moz-transition: color 0.3s, border-color 0.3s;
    transition: color 0.3s, border-color 0.3s;
}
.btn:hover {
    border-color: var(--color-04);
    color: var(--color-04);
}
.btn2 {
    display: inline-block;
    text-transform: uppercase;
    border: 2px solid var(--color-11);
    margin-top: 100px;
    font-size: 0.7em;
    font-weight: 700;
    padding: 0.1em 0.4em;
    text-align: center;
    -webkit-transition: color 0.3s, border-color 0.3s;
    -moz-transition: color 0.3s, border-color 0.3s;
    transition: color 0.3s, border-color 0.3s;
    -moz-transform: scale(-1.5, 1.5) rotate(20deg);
    -webkit-transform: scale(-1.5, 1.5) rotate(20deg);
    -o-transform: scale(-1.5, 1.5) rotate(20deg);
    -ms-transform: scale(-1.5, 1.5) rotate(20deg);
    transform: scale(-1.5, 1.5) rotate(20deg);
}
.btn2:hover {
    border-color: var(--color-04);
    color: #ff1500;
}
.align > li {
    margin: 30px 20px 30px 30px;
}
.hardcover_front li:first-child {
    background-color: #eee;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
}
.hardcover_back li:first-child,
.hardcover_back li:last-child,
.hardcover_front li:last-child {
    background: #fffbec;
}
.book_spine li:first-child {
    background: #eee;
}
.book_spine li:last-child {
    background: #333;
}
.book_spine li:first-child:after,
.book_spine li:first-child:before,
.book_spine li:last-child:after,
.book_spine li:last-child:before,
.hardcover_back li:first-child:after,
.hardcover_back li:first-child:before,
.hardcover_back li:last-child:after,
.hardcover_back li:last-child:before,
.hardcover_front li:first-child:after,
.hardcover_front li:first-child:before,
.hardcover_front li:last-child:after,
.hardcover_front li:last-child:before {
    background: #999;
}
.page > li {
    background: -webkit-linear-gradient(left, #e1ddd8, #fffbf6);
    background: -moz-linear-gradient(left, #e1ddd8 0, #fffbf6 100%);
    background: -ms-linear-gradient(left, #e1ddd8 0, #fffbf6 100%);
    background: linear-gradient(left, #e1ddd8, #fffbf6);
    box-shadow: inset 0 -1px 2px rgba(50, 50, 50, 0.1),
        inset -1px 0 1px hsla(0, 0%, 58.8%, 0.2);
    border-radius: 0 5px 5px 0;
}
.hardcover_front {
    -webkit-transform: rotateY(-34deg) translateZ(8px);
    -moz-transform: rotateY(-34deg) translateZ(8px);
    transform: rotateY(-34deg) translateZ(8px);
    z-index: 100;
}
.hardcover_back {
    -webkit-transform: rotateY(-15deg) translateZ(-8px);
    -moz-transform: rotateY(-15deg) translateZ(-8px);
    transform: rotateY(-15deg) translateZ(-8px);
}
.page li:first-child {
    -webkit-transform: rotateY(-28deg);
    -moz-transform: rotateY(-28deg);
    transform: rotateY(-28deg);
}
.page li:nth-child(2) {
    -webkit-transform: rotateY(-30deg);
    -moz-transform: rotateY(-30deg);
    transform: rotateY(-30deg);
}
.page li:nth-child(3) {
    -webkit-transform: rotateY(-32deg);
    -moz-transform: rotateY(-32deg);
    transform: rotateY(-32deg);
}
.page li:nth-child(4) {
    -webkit-transform: rotateY(-34deg);
    -moz-transform: rotateY(-34deg);
    transform: rotateY(-34deg);
}
.page li:nth-child(5) {
    -webkit-transform: rotateY(-36deg);
    -moz-transform: rotateY(-36deg);
    transform: rotateY(-36deg);
}
.book_spine,
.book_spine li,
.hardcover_back,
.hardcover_back li,
.hardcover_front,
.hardcover_front li {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
}
.hardcover_back,
.hardcover_front {
    -webkit-transform-origin: 0 100%;
    -moz-transform-origin: 0 100%;
    transform-origin: 0 100%;
}
.hardcover_front {
    -webkit-transition: all 0.8s ease, z-index 0.6s;
    -moz-transition: all 0.8s ease, z-index 0.6s;
    transition: all 0.8s ease, z-index 0.6s;
}
.hardcover_front li:first-child {
    cursor: default;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    -webkit-transform: translateZ(2px);
    -moz-transform: translateZ(2px);
    transform: translateZ(2px);
}
.hardcover_front li:last-child {
    -webkit-transform: rotateY(180deg) translateZ(2px);
    -moz-transform: rotateY(180deg) translateZ(2px);
    transform: rotateY(180deg) translateZ(2px);
}
.hardcover_back li:first-child {
    -webkit-transform: translateZ(2px);
    -moz-transform: translateZ(2px);
    transform: translateZ(2px);
}
.hardcover_back li:last-child {
    -webkit-transform: translateZ(-2px);
    -moz-transform: translateZ(-2px);
    transform: translateZ(-2px);
}
.book_spine li:first-child:after,
.book_spine li:first-child:before,
.book_spine li:last-child:after,
.book_spine li:last-child:before,
.hardcover_back li:first-child:after,
.hardcover_back li:first-child:before,
.hardcover_back li:last-child:after,
.hardcover_back li:last-child:before,
.hardcover_front li:first-child:after,
.hardcover_front li:first-child:before,
.hardcover_front li:last-child:after,
.hardcover_front li:last-child:before {
    position: absolute;
    top: 0;
    left: 0;
}
.hardcover_front li:first-child:after,
.hardcover_front li:first-child:before {
    width: 4px;
    height: 100%;
}
.hardcover_front li:first-child:after {
    -webkit-transform: rotateY(90deg) translateZ(-2px) translateX(2px);
    -moz-transform: rotateY(90deg) translateZ(-2px) translateX(2px);
    transform: rotateY(90deg) translateZ(-2px) translateX(2px);
}
.hardcover_front li:first-child:before {
    -webkit-transform: rotateY(90deg) translateZ(158px) translateX(2px);
    -moz-transform: rotateY(90deg) translateZ(158px) translateX(2px);
    transform: rotateY(90deg) translateZ(158px) translateX(2px);
}
.hardcover_front li:last-child:after,
.hardcover_front li:last-child:before {
    width: 4px;
    height: 160px;
}
.hardcover_front li:last-child:after {
    -webkit-transform: rotateX(90deg) rotate(90deg) translateZ(80px)
        translateX(-2px) translateY(-78px);
    -moz-transform: rotateX(90deg) rotate(90deg) translateZ(80px)
        translateX(-2px) translateY(-78px);
    transform: rotateX(90deg) rotate(90deg) translateZ(80px) translateX(-2px)
        translateY(-78px);
}
.hardcover_front li:last-child:before {
    box-shadow: 0 0 30px 5px #333;
    -webkit-transform: rotateX(90deg) rotate(90deg) translateZ(-140px)
        translateX(-2px) translateY(-78px);
    -moz-transform: rotateX(90deg) rotate(90deg) translateZ(-140px)
        translateX(-2px) translateY(-78px);
    transform: rotateX(90deg) rotate(90deg) translateZ(-140px) translateX(-2px)
        translateY(-78px);
}
.hardcover_back li:first-child:after,
.hardcover_back li:first-child:before {
    width: 4px;
    height: 100%;
}
.hardcover_back li:first-child:after {
    -webkit-transform: rotateY(90deg) translateZ(-2px) translateX(2px);
    -moz-transform: rotateY(90deg) translateZ(-2px) translateX(2px);
    transform: rotateY(90deg) translateZ(-2px) translateX(2px);
}
.hardcover_back li:first-child:before {
    -webkit-transform: rotateY(90deg) translateZ(158px) translateX(2px);
    -moz-transform: rotateY(90deg) translateZ(158px) translateX(2px);
    transform: rotateY(90deg) translateZ(158px) translateX(2px);
}
.hardcover_back li:last-child:after,
.hardcover_back li:last-child:before {
    width: 4px;
    height: 160px;
}
.hardcover_back li:last-child:after {
    -webkit-transform: rotateX(90deg) rotate(90deg) translateZ(80px)
        translateX(2px) translateY(-78px);
    -moz-transform: rotateX(90deg) rotate(90deg) translateZ(80px)
        translateX(2px) translateY(-78px);
    transform: rotateX(90deg) rotate(90deg) translateZ(80px) translateX(2px)
        translateY(-78px);
}
.hardcover_back li:last-child:before {
    box-shadow: 10px -1px 80px 20px #666;
    -webkit-transform: rotateX(90deg) rotate(90deg) translateZ(-140px)
        translateX(2px) translateY(-78px);
    -moz-transform: rotateX(90deg) rotate(90deg) translateZ(-140px)
        translateX(2px) translateY(-78px);
    transform: rotateX(90deg) rotate(90deg) translateZ(-140px) translateX(2px)
        translateY(-78px);
}
.book_spine {
    -webkit-transform: rotateY(60deg) translateX(-5px) translateZ(-12px);
    -moz-transform: rotateY(60deg) translateX(-5px) translateZ(-12px);
    transform: rotateY(60deg) translateX(-5px) translateZ(-12px);
    width: 16px;
    z-index: 0;
}
.book_spine li:first-child {
    -webkit-transform: translateZ(2px);
    -moz-transform: translateZ(2px);
    transform: translateZ(2px);
}
.book_spine li:last-child {
    -webkit-transform: translateZ(-2px);
    -moz-transform: translateZ(-2px);
    transform: translateZ(-2px);
}
.book_spine li:first-child:after,
.book_spine li:first-child:before {
    width: 4px;
    height: 100%;
}
.book_spine li:first-child:after {
    -webkit-transform: rotateY(90deg) translateZ(-2px) translateX(2px);
    -moz-transform: rotateY(90deg) translateZ(-2px) translateX(2px);
    transform: rotateY(90deg) translateZ(-2px) translateX(2px);
}
.book_spine li:first-child:before {
    -webkit-transform: rotateY(-90deg) translateZ(-12px);
    -moz-transform: rotateY(-90deg) translateZ(-12px);
    transform: rotateY(-90deg) translateZ(-12px);
}
.book_spine li:last-child:after,
.book_spine li:last-child:before {
    width: 4px;
    height: 16px;
}
.book_spine li:last-child:after {
    -webkit-transform: rotateX(90deg) rotate(90deg) translateZ(8px)
        translateX(2px) translateY(-6px);
    -moz-transform: rotateX(90deg) rotate(90deg) translateZ(8px) translateX(2px)
        translateY(-6px);
    transform: rotateX(90deg) rotate(90deg) translateZ(8px) translateX(2px)
        translateY(-6px);
}
.book_spine li:last-child:before {
    box-shadow: 5px -1px 100px 40px rgba(0, 0, 0, 0.2);
    -webkit-transform: rotateX(90deg) rotate(90deg) translateZ(-210px)
        translateX(2px) translateY(-6px);
    -moz-transform: rotateX(90deg) rotate(90deg) translateZ(-210px)
        translateX(2px) translateY(-6px);
    transform: rotateX(90deg) rotate(90deg) translateZ(-210px) translateX(2px)
        translateY(-6px);
}
.page,
.page > li {
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
}
.page {
    width: 100%;
    height: 98%;
    top: 1%;
    left: 3%;
    z-index: 10;
}
.page > li {
    width: 100%;
    height: 100%;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    transform-origin: left center;
    -webkit-transition-property: transform;
    -moz-transition-property: transform;
    transition-property: transform;
    -webkit-transition-timing-function: ease;
    -moz-transition-timing-function: ease;
    transition-timing-function: ease;
}
.page > li:first-child,
.page > li:nth-child(2) {
    -webkit-transition-duration: 0.6s;
    -moz-transition-duration: 0.6s;
    transition-duration: 0.6s;
}
.page > li:nth-child(3) {
    -webkit-transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
    transition-duration: 0.4s;
}
.page > li:nth-child(4) {
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    transition-duration: 0.5s;
}
.page > li:nth-child(5) {
    -webkit-transition-duration: 0.6s;
    -moz-transition-duration: 0.6s;
    transition-duration: 0.6s;
}
.book:hover > .hardcover_front {
    -webkit-transform: rotateY(-145deg) translateZ(0);
    -moz-transform: rotateY(-145deg) translateZ(0);
    transform: rotateY(-145deg) translateZ(0);
    z-index: 0;
}
.book:hover > .page li:first-child {
    -webkit-transform: rotateY(-30deg);
    -moz-transform: rotateY(-30deg);
    transform: rotateY(-30deg);
    -webkit-transition-duration: 1.5s;
    -moz-transition-duration: 1.5s;
    transition-duration: 1.5s;
}
.book:hover > .page li:nth-child(2) {
    -webkit-transform: rotateY(-35deg);
    -moz-transform: rotateY(-35deg);
    transform: rotateY(-35deg);
    -webkit-transition-duration: 1.8s;
    -moz-transition-duration: 1.8s;
    transition-duration: 1.8s;
}
.book:hover > .page li:nth-child(3) {
    -webkit-transform: rotateY(-118deg);
    -moz-transform: rotateY(-118deg);
    transform: rotateY(-118deg);
    -webkit-transition-duration: 1.6s;
    -moz-transition-duration: 1.6s;
    transition-duration: 1.6s;
}
.book:hover > .page li:nth-child(4) {
    -webkit-transform: rotateY(-130deg);
    -moz-transform: rotateY(-130deg);
    transform: rotateY(-130deg);
    -webkit-transition-duration: 1.4s;
    -moz-transition-duration: 1.4s;
    transition-duration: 1.4s;
}
.book:hover > .page li:nth-child(5) {
    -webkit-transform: rotateY(-140deg);
    -moz-transform: rotateY(-140deg);
    transform: rotateY(-140deg);
    -webkit-transition-duration: 1.2s;
    -moz-transition-duration: 1.2s;
    transition-duration: 1.2s;
}
.coverDesign {
    overflow: hidden;
    z-index: 1;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
}
.coverDesign,
.coverDesign:after {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
.coverDesign:after {
    background-image: -webkit-linear-gradient(
        -135deg,
        hsla(0, 0%, 100%, 0.45),
        transparent
    );
    background-image: -moz-linear-gradient(
        -135deg,
        hsla(0, 0%, 100%, 0.45) 0,
        transparent 100%
    );
    background-image: linear-gradient(
        -135deg,
        hsla(0, 0%, 100%, 0.45),
        transparent
    );
}
.coverDesign h1 {
    color: var(--color-05);
    font-size: 2.2em;
    letter-spacing: 0.05em;
    margin: 54% 0 0;
}
.coverDesign h1,
.coverDesign p {
    text-align: center;
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.1);
}
.coverDesign p {
    color: #f8f8f8;
    font-size: 1em;
}
.yellow {
    background-color: #f1c40f;
    background-image: -webkit-linear-gradient(top, #f1c40f 58%, #e7ba07 0);
    background-image: -moz-linear-gradient(top, #f1c40f 58%, #e7ba07 0);
    background-image: linear-gradient(top, #f1c40f 58%, #e7ba07 0);
}
.blue {
    background-color: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db 58%, #2a90d4 0);
    background-image: -moz-linear-gradient(top, #3498db 58%, #2a90d4 0);
    background-image: linear-gradient(top, #3498db 58%, #2a90d4 0);
}
.grey {
    background-color: #f8e9d1;
    background-image: -webkit-linear-gradient(top, #f8e9d1 58%, #e7d5b7 0);
    background-image: -moz-linear-gradient(top, #f8e9d1 58%, #e7d5b7 0);
    background-image: linear-gradient(top, #f8e9d1 58%, #e7d5b7 0);
}
.ribbon {
    color: var(--color-05);
}
figcaption span {
    color: var(--color-02);
}
figcaption p {
    color: var(--color-03);
}
*,
:after,
:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
* {
    margin: 0;
    padding: 0;
}
:after,
:before {
    content: "";
}
body,
html {
    height: 100%;
    -webkit-font-smoothing: subpixel-antialiased;
}
html {
    font-size: 100%;
}
body {
    background: var(--color-08);
    color: var(--color-10);
    font-family: Lato, Arial, sans-serif;
    font-weight: 400;
    line-height: 1.2;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
a {
    color: #2c3e50;
    text-decoration: none;
}
.btn {
    display: inline-block;
    margin-top: 100px;
    font-size: 1.2em;
    font-weight: 700;
    padding: 0.1em 0.8em;
    text-align: center;
    -webkit-transform: rotate(20deg);
    -moz-transform: rotate(20deg);
    transform: rotate(20deg);
    font-family: Indie Flower, serif;
    -webkit-transition: color 0.3s;
    -moz-transition: color 0.3s;
    transition: color 0.3s;
}
.btn:hover {
    color: var(--color-04);
}
.align {
    clear: both;
    margin: 90px auto 20px;
    width: 100%;
    max-width: 1170px;
    text-align: center;
}
.align > li {
    width: 500px;
    min-height: 300px;
    display: inline-block;
    margin: 30px 20px 30px 60px;
    padding: 0 0 0 60px;
    vertical-align: top;
}
.book {
    position: relative;
    width: 160px;
    height: 220px;
    -webkit-perspective: 1000px;
    -moz-perspective: 1000px;
    perspective: 1000px;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
}
.paperback_front {
    background-color: #000;
}
.paperback_front:after {
    background-image: -webkit-linear-gradient(
        -135deg,
        hsla(0, 0%, 100%, 0.45),
        transparent
    );
    background-image: -moz-linear-gradient(
        -135deg,
        hsla(0, 0%, 100%, 0.45) 0,
        transparent 100%
    );
    background-image: linear-gradient(
        -135deg,
        hsla(0, 0%, 100%, 0.45),
        transparent
    );
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
.paperback_back {
    background-color: #333;
}
.ruled_paper > li {
    background-color: var(--color-05);
    background-image: -webkit-linear-gradient(
            hsla(0, 0%, 78.4%, 0.1) 0.1em,
            transparent 0
        ),
        -webkit-linear-gradient(left, #e1ddd8, #fffbf6);
    background-image: -moz-linear-gradient(
            hsla(0, 0%, 78.4%, 0.1) 0.1em,
            transparent 0.1em
        ),
        -moz-linear-gradient(left, #e1ddd8 0, #fffbf6 100%);
    background-image: -ms-linear-gradient(
            hsla(0, 0%, 78.4%, 0.1) 0.1em,
            transparent 0.1em
        ),
        -moz-linear-gradient(left, #e1ddd8 0, #fffbf6 100%);
    background-image: linear-gradient(
            hsla(0, 0%, 78.4%, 0.1) 0.1em,
            transparent 0
        ),
        linear-gradient(left, #e1ddd8, #fffbf6);
    background-size: 100% 0.6em;
    box-shadow: inset 0 -1px 2px rgba(50, 50, 50, 0.1),
        inset -1px 0 1px hsla(0, 0%, 58.8%, 0.2);
    border-radius: 0 10px 10px 0;
}
.paperback_front {
    -webkit-transform: rotateY(-38deg) translateZ(0);
    -moz-transform: rotateY(-38deg) translateZ(0);
    transform: rotateY(-38deg) translateZ(0);
    z-index: 100;
}
.paperback_back {
    -webkit-transform: rotateY(-25deg);
    -moz-transform: rotateY(-25deg);
    transform: rotateY(-25deg);
}
.ruled_paper li:first-child {
    -webkit-transform: rotateY(-27deg);
    -moz-transform: rotateY(-27deg);
    transform: rotateY(-27deg);
}
.ruled_paper li:nth-child(2) {
    -webkit-transform: rotateY(-29deg);
    -moz-transform: rotateY(-29deg);
    transform: rotateY(-29deg);
}
.ruled_paper li:nth-child(3) {
    -webkit-transform: rotateY(-31deg);
    -moz-transform: rotateY(-31deg);
    transform: rotateY(-31deg);
}
.ruled_paper li:nth-child(4) {
    -webkit-transform: rotateY(-33deg);
    -moz-transform: rotateY(-33deg);
    transform: rotateY(-33deg);
}
.ruled_paper li:nth-child(5) {
    -webkit-transform: rotateY(-35deg);
    -moz-transform: rotateY(-35deg);
    transform: rotateY(-35deg);
}
.paperback_back,
.paperback_back li,
.paperback_front,
.paperback_front li {
    border-radius: 2px 8px 8px 2px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
}
.paperback_back,
.paperback_front {
    -webkit-transform-origin: 0 100%;
    -moz-transform-origin: 0 100%;
    transform-origin: 0 100%;
}
.paperback_front {
    -webkit-transition: all 0.5s ease, z-index 0.6s;
    -moz-transition: all 0.5s ease, z-index 0.6s;
    transition: all 0.5s ease, z-index 0.6s;
}
.paperback_back li img,
.paperback_front li img {
    border-radius: 2px 8px 8px 2px;
    position: absolute;
    top: 0;
    left: 0;
}
.ruled_paper,
.ruled_paper > li {
    position: absolute;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
}
.ruled_paper {
    width: 98%;
    height: 98%;
    top: 1%;
    left: 1%;
    z-index: 10;
}
.ruled_paper > li {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    transform-origin: left center;
    -webkit-transition-property: transform;
    -moz-transition-property: transform;
    transition-property: transform;
    -webkit-transition-timing-function: ease;
    -moz-transition-timing-function: ease;
    transition-timing-function: ease;
}
.ruled_paper li:first-child,
.ruled_paper li:nth-child(2) {
    -webkit-transition-duration: 0.6s;
    -moz-transition-duration: 0.6s;
    transition-duration: 0.6s;
}
.ruled_paper li:nth-child(3) {
    -webkit-transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
    transition-duration: 0.4s;
}
.ruled_paper li:nth-child(4),
.ruled_paper li:nth-child(5) {
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    transition-duration: 0.5s;
}
.book:hover > .paperback_front {
    -webkit-transform: rotateY(-125deg) translateZ(0);
    -moz-transform: rotateY(-125deg) translateZ(0);
    transform: rotateY(-125deg) translateZ(0);
    z-index: 0;
}
.book:hover > .ruled_paper li:first-child {
    -webkit-transform: rotateY(-30deg);
    -moz-transform: rotateY(-30deg);
    transform: rotateY(-30deg);
    -webkit-transition-duration: 1.5s;
    -moz-transition-duration: 1.5s;
    transition-duration: 1.5s;
}
.book:hover > .ruled_paper li:nth-child(2) {
    -webkit-transform: rotateY(-35deg);
    -moz-transform: rotateY(-35deg);
    transform: rotateY(-35deg);
    -webkit-transition-duration: 1.8s;
    -moz-transition-duration: 1.8s;
    transition-duration: 1.8s;
}
.book:hover > .ruled_paper li:nth-child(3) {
    -webkit-transform: rotateY(-110deg);
    -moz-transform: rotateY(-110deg);
    transform: rotateY(-110deg);
    -webkit-transition-duration: 2.2s;
    -moz-transition-duration: 2.2s;
    transition-duration: 2.2s;
}
.book:hover > .ruled_paper li:nth-child(4) {
    -webkit-transform: rotateY(-115deg);
    -moz-transform: rotateY(-115deg);
    transform: rotateY(-115deg);
    -webkit-transition-duration: 1.8s;
    -moz-transition-duration: 1.8s;
    transition-duration: 1.8s;
}
.book:hover > .ruled_paper li:nth-child(5) {
    -webkit-transform: rotateY(-120deg);
    -moz-transform: rotateY(-120deg);
    transform: rotateY(-120deg);
    -webkit-transition-duration: 1.2s;
    -moz-transition-duration: 1.2s;
    transition-duration: 1.2s;
}
.green {
    background: #2ecc71;
}
.red {
    background: #cb0000;
}
.ribbon {
    background: #c0392b;
    color: var(--color-05);
    display: block;
    font-size: 0.7em;
    position: absolute;
    top: 11px;
    right: 1px;
    width: 40px;
    height: 20px;
    line-height: 20px;
    letter-spacing: 0.15em;
    text-align: center;
    -webkit-transform: rotate(45deg) translateZ(1px);
    -moz-transform: rotate(45deg) translateZ(1px);
    transform: rotate(45deg) translateZ(1px);
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    z-index: 10;
}
.ribbon:after,
.ribbon:before {
    position: absolute;
    top: -20px;
    width: 0;
    height: 0;
    border-bottom: 20px solid #c0392b;
    border-top: 20px solid transparent;
}
.ribbon:before {
    left: -20px;
    border-left: 20px solid transparent;
}
.ribbon:after {
    right: -20px;
    border-right: 20px solid transparent;
}
figcaption {
    padding-left: 40px;
    text-align: left;
    position: absolute;
    top: 0;
    left: 160px;
    width: 310px;
    -webkit-backface-visibility: hidden;
    backface-visibility: nuh uh;
}
figcaption h1 {
    margin: 0;
}
figcaption span {
    color: var(--color-02);
    padding: 0.6em 0 1em;
    display: block;
}
figcaption p {
    color: var(--color-03);
    line-height: 1.3;
}
@media screen and (max-width: 37.8125em) {
    .align > li {
        width: 100%;
        min-height: 440px;
        height: auto;
        padding: 0;
        margin: 0 0 30px;
    }
    .book {
        margin: 0 auto;
    }
    figcaption {
        text-align: center;
        width: 320px;
        top: 250px;
        padding-left: 0;
        left: -80px;
        font-size: 90%;
    }
}
