.menu1 {
    left: 50%;
    top: 50%;
}

.my-icon {
    background: url('../img/wheelMenuIcons.png');
}

.icon1 {
    background-position: 0 0;
}

.icon2 {
    background-position: 0 -56px;
}

.icon3 {
    background-position: 0 -116px;
}

.icon4 {
    background-position: 0 -172px;
}
